# Get these from your Humand admin
HUMAND_CLIENT_ID=your-client-id
HUMAND_CLIENT_SECRET=your-client-secret
HUMAND_API_URL=https://api-prod.humand.co
POSTGREST_BASE_URL=https://views-cx.humand.co
GITHUB_TOKEN=github-token
